[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.12.0"
charset-normalizer = "==3.1.0"
colorama = "==0.4.6"
docopt = "==0.6.2"
feedgen = "==0.9.0"
iniconfig = "==2.0.0"
packaging = "==23.0"
pluggy = "==1.0.0"
pytest = "==7.3.0"
pytest-watch = "==4.2.0"
python-dateutil = "==2.8.2"
six = "==1.16.0"
soupsieve = "==2.4"
watchdog = "==3.0.0"
types-requests = "*"
types-python-dateutil = "*"
types-beautifulsoup4 = "*"
mypy = "*"
tqdm = "*"
requests-cache = "*"
exceptiongroup = "*"
requests = "~=2.32"
lxml = "~=5.3.0"
idna = "~=3.7"
urllib3 = "~=1.26.19"
certifi = "~=2024.07.04"
crawler = {file = ".", editable = true}

[dev-packages]
